<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Welcome to Guru!</title>
  <meta name="description" content="description here" />
  <meta name="keywords" content="keywords,here" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"
    integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ=" crossorigin="anonymous"></script>

  <style>
    .bg-black-alt {
      background: #191919;
    }

    .text-black-alt {
      color: #191919;
    }

    .border-black-alt {
      border-color: #191919;
    }
  </style>
</head>

<body class="bg-black-alt font-sans leading-normal tracking-normal">
  <nav id="header" class="bg-gray-900 fixed w-full z-10 top-0 shadow">
    <div class="w-full container mx-auto flex flex-wrap items-center mt-0 pt-3 pb-3 md:pb-0">
      <div class="w-1/2 pl-2 md:pl-0">
        <a class="text-gray-100 text-base xl:text-xl no-underline hover:no-underline font-bold" href="/">
          <i class="fas fa-crown text-yellow-400 pr-3"></i>
          Guru
        </a>
      </div>
      <div class="w-1/2 pr-0">
        <div class="flex relative inline-block float-right">
          <div class="relative text-sm text-gray-100">
            <button id="userButton" class="flex items-center focus:outline-none mr-3">
              <!-- ADD USER LEVEL HERE -->
              <img class="w-8 h-8 rounded-full mr-4" src="/images/user-image.jpg" alt="User Image" />
              {{#if logged_in}}
              <a id="logout" class="inline-block text-gray-100">Logout</a>
              {{else}}
              <a href="/login" class="inline-block text-gray-100">Login</a>
              {{/if}}
            </button>
          </div>
        </div>
      </div>

      <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-gray-900 z-20"
        id="nav-content">
        <ul class="list-reset lg:flex flex-1 items-center px-4 md:px-0">
          <li id="home" class="mr-6 my-2 md:my-0">
            <a href="/" 
              class="dashboard block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900 hover:border-red-400">
              <i id="fav-h" class="fas fa-home fa-fw mr-3"></i><span class="pb-1 md:pb-0 text-sm">Home</span>
            </a>
          </li>
          <li id="dashboard" class="mr-6 my-2 md:my-0">
            <a href="/dashboard" 
              class="dashboard block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900 hover:border-yellow-400">
              <i id="fav-d" class="fas fa-tasks fa-fw mr-3"></i><span class="pb-1 md:pb-0 text-sm">My Dashboard</span>
            </a>
          </li>
          <li id="question" class="mr-6 my-2 md:my-0">
            <a href="/question" 
              class="question block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900 hover:border-pink-400">
              <i id="fav-q" class="fa fa-question fa-fw mr-3"></i><span class="pb-1 md:pb-0 text-sm">Ask A Question</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--Container-->
  <div>{{{body}}}</div>

  <!--/container-->

  <footer class="bg-gray-900 mt-6 border-t border-gray-400 shadow w-full">
    <div class="container max-w-md mx-auto flex py-8">
      <div class="w-full mx-auto flex flex-wrap">
        <div class="px-8">
          <h3 class="font-bold font-bold text-gray-100">About</h3>
          <p class="py-4 text-gray-600 text-sm">
            Guru is an online collaboration app, designed to allow users to
            organise and easily keep track of their projects.
            <br />
            Climb the Guru ranks and earn points by helping others answer
            queries!
          </p>
          <!-- </div> -->
        </div>
      </div>

      <div class="w-full p-3">
        <!--Table Card: Click to view project-->
        <div class="bg-gray-900 border border-gray-800 rounded shadow">
          <div class="border-b border-gray-800 p-3">
            <h5 class="font-bold uppercase text-gray-600">Guru Ranking</h5>
          </div>
          <div class="p-5">
            <table class="w-full p-5 text-gray-700">
              <thead>
                <tr>
                  <th class="text-left text-gray-600">Level</th>
                  <th class="text-left text-gray-600">Points</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>
                    <i class="fas fa-crown text-yellow-400 pr-3"></i>Gold
                  </td>
                  <td>100+</td>
                </tr>
                <tr>
                  <td><i class="fas fa-star text-blue-400 pr-3"></i>Blue</td>
                  <td>80</td>
                </tr>
                <tr>
                  <td>
                    <i class="fas fa-star text-green-400 pr-3"></i>Green
                  </td>
                  <td>60</td>
                </tr>
                <tr>
                  <td><i class="fas fa-star text-red-400 pr-3"></i>Red</td>
                  <td>40</td>
                </tr>
                <tr>
                  <td><i class="fas fa-star text-pink-400 pr-3"></i>Pink</td>
                  <td>20</td>
                </tr>
                <tr>
                  <td><i class="fas fa-star text-white-400 pr-3"></i>Grey</td>
                  <td>0-20</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="/js/logout.js"></script>
</body>

</html>