 <!-- Answer Form -->

    <div class="h-screen flex justify-center items-center">
      <div
        class="bg-gray-900 border border-gray-800 shadow p-2 rounded-lg w-2/5 px-16 py-16"
      >
        <form>
          <div class="flex font-bold justify-center" style="padding-bottom: 5%">
            <i class="fa fa-question fa-fw mr-3 text-pink-600" style="font-size: 50px;"></i>
          </div>
          <h2 class="text-3xl text-center text-gray-300 mb-4">Example Question Title</h2>
          <h3 class="text-1xl text-center text-gray-300 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat?</h3>

          <div
            class="input-div border-b-2 relative grid my-5 py-1 focus:outline-none"
            style="grid-template-columns: 7% 93%"
          >
            <div class="i">
              <i class="fas fa-text text-gray-500"></i>
    
            </div>
            <div class="div">
             
              <textarea
              class=" form-input absolute w-full h-full py-2 px-3 inset-0 text-black-100 border-b-2 hover:border-pink-400"
              style="background: white; height: 6rem" id="answer" name = "answer"placeholder="Type your answer here..."></textarea>
            </div>
            
          </div>
          <button
          type="submit"
          id="createAnswer"
          class="w-full py-2 rounded-full bg-pink-600 text-gray-300 focus:outline-none hover:text-gray-100 mt-24"
        
        >
         Submit Answer
        </button>
        </form>
        </div>

        <script src="/js/answer.js"></script>