<div class="container mx-auto mt-44 flex justify-center items-center h-96">
    {{#if logged_in}}
    {{else}}
    <a href="/login" class="cursor-pointer mr-8 bg-green-600 hover:text-white text-gray-300 font-bold py-8 px-16 rounded-full">
        Login
    </a>
    <a href="/signup" class="cursor-pointer ml-8 bg-green-600 hover:text-white text-gray-300 font-bold py-8 px-16 rounded-full">
        Signup
    </a>
    {{/if}}
</div>