<!-- SIGNUP FORM -->

<div class="h-screen flex justify-center items-center">
  <div
    class="bg-gray-900 border border-gray-800 shadow p-2 rounded-lg w-2/5 px-16 py-16"
  >
    <form id="signup-form">
      <div class="flex font-bold justify-center">
        <img class="h-20 w-20" src="images/user-image.jpg" />
      </div>
      <h2 class="text-3xl text-center text-gray-500 mb-4">Create Your Guru
        Account</h2>
      <div
        class="input-div border-b-2 relative grid my-5 py-1 focus:outline-none"
        style="grid-template-columns: 7% 93%"
      >
        <div class="i">
          <i class="fas fa-user text-gray-500"></i>

        </div>
        <div class="div">
          <input
            type="text"
            class="absolute w-full h-full py-2 px-3 outline-none inset-0 text-gray-100 border-b-2 border-gray-900 hover:border-green-400"
            style="background: none "
            placeholder="   First Name"
            id="firstname"
          />
        </div>
      </div>
      <div
        class="input-div border-b-2 relative grid my-5 py-1 focus:outline-none"
        style="grid-template-columns: 7% 93%"
      >
        <div class="i">
          <i class="fas fa-user text-gray-500"></i>

        </div>
        <div class="div">
          <input
            type="text"
            class="absolute w-full h-full py-2 px-3 outline-none inset-0 text-gray-100 border-b-2 border-gray-900 hover:border-green-400"
            style="background: none "
            placeholder="   Last Name"
            id="lastname"
          />
        </div>
      </div>
      <div
        class="input-div border-b-2 relative grid my-5 py-1 focus:outline-none"
        style="grid-template-columns: 7% 93%"
      >
        <div class="i">
          <i class="fas fa-envelope text-gray-500"></i>

        </div>
        <div class="div">
          <input
            type="text"
            class="absolute w-full h-full py-2 px-3 outline-none inset-0 text-gray-100 border-b-2 border-gray-900 hover:border-green-400"
            style="background: none "
            placeholder="    Username"
            id="username"
          />
        </div>
      </div>

      <div
        class="input-div border-b-2 relative grid my-5 py-1 focus:outline-none"
        style="grid-template-columns: 7% 93%"
      >
        <div class="i">
          <i class="fas fa-lock text-gray-500"></i>
        </div>
        <div class="div">
          <input
            type="password"
            class="absolute w-full h-full py-2 px-3 outline-none inset-0 text-gray-100 border-b-2 border-gray-900 hover:border-green-400"
            style="background: none"
            placeholder="   Password"
            id="password"
          />
        </div>
      </div>

      <a
        href="/login"
        class="text-xs text-green-400 hover:text-green-500 float-right mb-4"
      >Already a Member? Log In Here</a>
      <button
        type="submit"
        class="w-full py-2 rounded-full bg-green-600 text-gray-300 focus:outline-none hover:text-gray-100"
      >
        Sign Up Now
      </button>
    </form>
  </div>
</div>
<script src="/js/signup.js"></script>